h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: 'Avenir Black Oblique'; 
  border-style: solid; 
  background-color: gold; 
  text-align: center; 
}

.header {
  border-style: solid; 
  text-align: center; 
  font-family: 'Trebuchet MS', Helvetica
  margin:5px; 
}

.picture {
  text-align: center; 
  
}

.personal info {
  float: left; 
  text-align: center; 
  font-size: 10px; 
  padding: 5px; 
  margin: 0; 
}
body {
}

p {
  color: black; 
}
